/* banner section start */
*{
    margin: 0;
    padding: 0;
}
.btn{
    text-align: center;
    padding-top: 20px;
    width: 180px;
    height: 40px;
    border: 2px solid  black;
    border-radius: 10px;
    background-color: black;
    margin-top: 20px;
    margin-left: 870px;
   
}
.btn:hover{

    background-color: #FFFFFF;
    color: black;
   
}
.btn a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}
.btn a:hover{
    color: black;
}
.bannerImage{
    background-image: url(./assets/Hero-bg.png);
    /* width: 1920px; */
    height: 652px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bannericon{
    text-align: center;
    padding-top: 50px;
    
}
.bannertext{
    font-weight: bolder;
    padding-top: 30px;
    text-align: center;
    font-size: 48px;
    
}
.bannertitle{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.557);
}
/* banner section end */
/* why web development section start */
.webDevText{
    
    margin-top: 80px;
    padding-top: 80px;
    margin-left: 150px;
   margin-right: 150px;
    background-color: #0d13210a;
    height: 1200px;
}
.webDevText h3{
    font-size: xx-large;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
}
.webDevText .titleweb{
    padding-top: 10px;
    color: #0d132184;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
    text-align: center;
}
.card{
    display: flex;
    padding-top: 80px;
    padding-left: 150px;

    
}

.cardPart1 h4{
    font-size: 25px;
    padding-left: 200px;
    color: #000000be;
    
}

.cardPart1 p{
    padding-top: 20px;
    padding-left: 200px;

    color: #0d132186;
}
.img1{
    padding-left: 250px;
}
.butTon{
    width: 110px;
    height: 50px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000000bb;
    border: 2px solid #0d13215b;
    margin-top: 20px;
    margin-left: 200px;
}
.butTon:hover{
    color: #FFFFFF;
    background-color: black;
}
/* why web development section end */
/* my inspiration start */
.MyInspiration{
    margin-top: 30px;
    padding-top: 80px;
    margin-left: 150px;
   margin-right: 150px;
    text-align: center;
}
.MyInspiration h4{
    font-size: xx-large;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
}
.MyInspiration .titleweb{
    padding-top: 10px;
    color: #0d132184;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
    text-align: center;
}
.videoInsp{
    padding-top: 30px;
    padding-left: 550px;
}
.currentTarget{
    margin-top: 30px;
    padding-top: 80px;
    margin-left: 150px;
   margin-right: 150px;
    text-align: center;
}
.currentTarget h4{
    font-size: xx-large;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
}
.currentTarget .titleweb{
    padding-top: 10px;
    color: #0d132184;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
    text-align: center;
}
.cardHCJ{
    display: flex;
    padding-top: 50px;
    padding-left:400px;
}
.htmL{
    padding-top: 30px;
    padding-left: 20px;
    margin-left: 20px;
    
    width: 360px;
    height: 250px;
    background-color: rgba(255, 166, 0, 0.119);
}
.htmL h5{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: x-large;
    color: #000000;
}
.htmL p{
    color: #0000008e;
    padding-bottom: 10px;
}
.htmL a{
    text-decoration: underline;
    color: #000000;
}

.csS{
    padding-top: 30px;
    padding-left: 20px;
    margin-left: 20px;
    width: 360px;
    height: 250px;
    background-color: rgba(0, 0, 255, 0.139);
}
.csS h5{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: x-large;
    color: #000000;
}
.csS p{
    color: #0000008e;
    padding-bottom: 10px;
}
.csS a{
    text-decoration: underline;
    color: #000000;
}

.jS{
    padding-top: 30px;
    margin-left: 20px;
    padding-left: 20px;
    width: 360px;
    height: 250px;
    background-color: rgba(255, 255, 0, 0.192);
}
.jS h5{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: x-large;
    color: #000000;
}
.jS p{
    color: #0000008e;
    padding-bottom: 10px;
}
.js a{
    text-decoration: underline;       
    color: #000000c7;
}
/* next target start*/
.nextTarget{
    margin-top: 30px;
    padding-top: 80px;
    margin-left: 150px;
   margin-right: 150px;
    text-align: center;
}
.nextTarget h4{
    font-size: xx-large;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
}
.nextTarget .titleweb{
    padding-top: 10px;
    color: #0d132184;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
    text-align: center;
}
/* nextTarget1 */
.card2{
    width: 1150px;
    height: 160px;
    background-color: #605e5e17;
    border-radius: 30px;
    margin-top: 50px;
    padding-top: 100px;
    margin-left: 400px;
    display: flex;
}
.imG{
    padding-left: 50px;
}
.textT{
    padding-left: 50px;
}
.textT h5{
    font-size: 40px;
    padding-bottom: 10px;
}
.textT p{
    font-size: 16px;
    color: #0000008b;
    padding-bottom: 10px;
}
.textT a{
    color: #000000;
    text-decoration: underline;
}
.handshake {
    width: 1000px;
    height: 300px;
    margin-top: 80px;
    margin-left: 450px;
    background-image: url(./assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.handshake h4{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
}
.handshake p{
    color: #ffffff86;
    text-align: center;
    padding-top: 20px;
    
}
.textInput{
    text-align: center;
    padding-top: 30px;

}
.textInput .textTT{
    width: 300px;
    height: 50px;
    text-decoration: none;
}
.textInput .textBB{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    text-decoration: none;
}
.textInput .textBB:hover{
    color: white;
    background-color: #000000;
}
.input [placeholder]{
    color: #0000001b;
    padding-left: 20px;
}
